/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

BODY {
  direction: rtl;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(223, 255, 249);
  margin: 0;
}

.btn-signout {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-signout:hover {
  background-color: #e52e2e;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-signout:active {
  transform: translateY(-1px);
}

.btn-add {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-add:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-add:active {
  transform: translateY(-1px);
}


input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 1rem 1.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  display: block;
  transition: all 0.3s;
}

.nav a {
  text-decoration: none;
  position: relative;
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #b92525;
  color: rgb(255, 255, 255);
}

.back {
  float: left;
}

.forward {
  float: right;
}

.container2,
.container2 a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.flex {
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  width: calc(40% * (1/3));
  margin: 10px 10px 0 10px;
  text-align: center;
  background: #B7E7DE;
}

.flex:hover {
  background: #abd8cf;
  color: white;
}

.logout {
  background: #e52e2e;
  width: fit-content;
}

.logout a {
  color: white;
}

.logout:hover {
  background: #ff3333;
}

.form_profile {
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form_profile p {
  flex: 50%;
} */