.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 34px -15px rgba(0, 0, 0, 0.356);
  padding: 20px;
}

.textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-login {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-login:hover {
  background-color: rgb(255 249 194);
  box-shadow: 0px 15px 20px rgb(255 249 194 0.4);
  color: #000;
  font-weight: bold;
  transform: translateY(-7px);
}

.btn-login:active {
  transform: translateY(-1px);
}

.login div {
  margin-top: 7px;
}

.err {
  color: red;
  font-weight: bold;
}