.outside-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.popUp {
    position: relative;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    z-index: 100;
}

.popUp::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

.popUp::-webkit-scrollbar-thumb {
    background-color: var(--clr-neutral-500);
    border-radius: 100px;
}

.popUp-content__title {
    color: var(--clr-title);
}

.popUp-content__description {
    margin-block: 1em;
}

.popUp__close-btn {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    color: var(--clr-neutral-600);
}